*
{
    margin:0px;
    padding: 0px;
    font-family: "Saira Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
}
body
{
    background-image: url("bkg1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: all ease-out 0.5s;
}
.container-fluid>a
{
    margin-right: 35rem;
    transition: all 0.5s ease-out;
}
.navbar-nav
{
    gap: 12rem;
    transition: all 0.5s ease-out;
}
.container
{
    background-color: rgba(162, 153, 153, 0.6);
    border: 2px solid rgb(193, 187, 187);
    border-radius: 15px;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 5rem;
    max-width: 70%;
    box-shadow: 2px 4px 8px black;
    transition: all 0.5s ease-out 0s;
}
.container:hover
{
    box-shadow: 8px 8px 16px rgb(187, 182, 182);
}
#outer
{
    margin-left: 2rem;
    margin-top: 10rem;
    text-shadow: 5px 5px 7px rgb(60, 59, 59);
    font-size: 4rem;
    transition: all ease-out 0.5s;
}
#about
{
    margin-right: 2rem;
    font-size: 2rem;
    transition: all ease-out 0.5s;
}


.carouselExample
{
    background-color: rgba(162, 153, 153, 0.6);
    border: 2px solid rgb(193, 187, 187);
    border-radius: 15px;
}


#projects
{
    margin-left: 2rem;
    font-size: 2rem;
    display: inline-block;
}
#projects li
{
    display: inline-block;
}
#achievements
{
    margin-left: 2rem;
    font-size: 2rem;
    display: inline-block;
}
#achievements li
{
    display: inline-block;
}
div ul li img
{
    border-radius: 15px;
    display: flex;
    align-items: center;
    width: 60%;
    margin: 1rem;
    transition: all ease-out 1s;
}
div ul li img:hover
{
    width:80%;
}
#contact
{
    margin-right: 2rem;
    font-size: 2rem;
    transition: all ease-out 0.5s;
}
#contact ul i
{
    margin-right: 2rem;
}
#contact ul li a
{
    text-decoration: none;
    color:rgb(45, 42, 42);
}
#contact ul li a:hover
{
    color: rgb(255, 246, 235);
    text-shadow: 5px 5px 7px rgb(36, 35, 35);
    transition: all ease-out 0.3s;
}
@media(max-width: 1464px)
{
    .container-fluid>a
    {
        margin-right: 31rem;
    }
    .navbar-nav
    {
        gap: 10rem;
    }
}
@media(max-width: 1407px)
{
    .container-fluid>a
    {
        margin-right: 28rem;
    }
    .navbar-nav
    {
        gap: 9rem;
    }
}
@media(max-width: 1280px)
{
    .container-fluid>a
    {
        margin-right: 26rem;
    }
    .navbar-nav
    {
        gap: 8rem;
    }
}
@media(max-width: 1183px)
{
    .container-fluid>a
    {
        margin-right: 25rem;
    }
    .navbar-nav
    {
        gap: 7.5rem;
    }
}
@media(max-width: 1127px)
{
    .container-fluid>a
    {
        margin-right: 23rem;
    }
    .navbar-nav
    {
        gap: 7rem;
    }
}
@media(max-width: 1071px)
{
    .container-fluid>a
    {
        margin-right: 21rem;
    }
    .navbar-nav
    {
        gap: 6rem;
    }
}
@media (max-width: 960px)
{
    #about , #contact , #achievements , #projects
    {
        font-size: 1rem;
    }
    #outer 
    {
        font-size: 2rem;
    }
}
@media(max-width: 572px)
{
    .container-fluid>a
    {
        margin-right: 10rem;
    }
}